[submodule "dein.vim"]
	path = dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-slim"]
	path = vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-mmarkdown"]
	path = vim-mmarkdown
	url = https://github.com/tanahiro/vim-mmarkdown.git
