[submodule "dein.vim"]
	path = dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-slim"]
	path = vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-mmarkdown"]
	path = vim-mmarkdown
	url = https://github.com/tanahiro/vim-mmarkdown.git
[submodule "vim-quickhl"]
	path = vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "tanahiro"]
	path = tanahiro
	url = git@github.com:tanahiro/vim_config.git
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim-yaml"]
	path = vim-yaml
	url = https://github.com/stephpy/vim-yaml
